<%#
TODO: need to fix this indentation
%>
<h1>Value for
    <%= object %>:
    <%= value %>
    <% if (value < 0) { %>
        (negative)
    <% } else if (value === 0) { %>
        (zero)
    <% } else  { %>
        (positive)
    <% } %>
</h1>
