<h1>Songs</h1>
<!-- add a form for adding songs here -->
<form method='POST'>
    <input type='text' name='name'/>
    <!-- field type number accepts only numbers -->
    <input type='number' name='duration'/>
    <input type='submit'/>
</form>
<table>
    <tr>
        <th>Song name</th>
        <th>Duration (seconds)</th>
    </tr>
    <!-- songs from the server should be listed here -->
    <% songs.forEach((song) => { %>
        <tr>
            <td>
                <%= song.name %>
            </td>
            <td>
                <%= song.duration %>
            </td>
        </tr>
    <% }); %>
</table>
