<h1>Name and year of birth!</h1>
<form method="POST">
    <input type="text" name="name" value="<%= name %>" />
    <input type="number" name="yearOfBirth" min="1900" max="2000" value="<%= yearOfBirth %>" />
    <input type="submit" value="Submit!" />
</form>
<% if (errors) { %>
    <ul>
        <% Object.keys(errors).forEach((attribute) => { %>
            <% Object.values(errors[attribute]).forEach((err) => { %>
                <li><%= err %></li>
            <% }); %>
        <% }); %>
    </ul>
<% } %>
