<h1>Names!</h1>
<form method="POST">
    <input type="text" name="name" />
    <input type="submit" value="Submit!" />
</form>
<ul>
    <% names.forEach((obj) => { %>
        <li>
            <%= obj.name %>
        </li>
    <% }); %>
</ul>
