<h1>Songs!</h1>
<form method="POST">
    <input type="text" name="name" />
    <input type="number" name="rating" />
    <input type="submit" value="Submit!" />
</form>

<table>
    <tr>
        <th>Song name</th>
        <th>Rating</th>
        <th>Delete</th>
    </tr>
    <!-- insert songs here -->
    <% songs.forEach((song) => { %>
        <tr>
            <td>
                <%= song.name %>
            </td>
            <td>
                <%= song.rating %>
            </td>
            <td>
                <form method='POST' action='/songs/<%= song.id %>/delete'>
                    <input type='submit' value='Delete' />
                </form>
            </td>
        </tr>
    <% }); %>
</table>
