<h1>Name and year of birth!</h1>
<form method="POST">
    <input type="text" name="name" />
    <input type="number" name="yearOfBirth" min="1900" max="2000" />
    <input type="submit" value="Submit!" />
</form>
<% if (errors && errors.length > 0) { %>
<ul>
    <% errors.forEach((error) => { %>
        <li><%= error %></li>
    <% }); %>
</ul>
<% } %>
